force-app/main/default/flows/Update_Discovery_Session.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <description>Updates an existing Discovery Session record. Note: the agent uses UpdateDiscoverySessionAction Apex (null-safe merge) instead of this flow.</description>
    <interviewLabel>Update Discovery Session {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Discovery Session</label>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Session_Record</name>
        <label>Update Session Record</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <connector>
            <targetReference>Set_Status_Success</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Budget_Range__c</field>
            <value>
                <elementReference>budget_range</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Size__c</field>
            <value>
                <elementReference>company_size</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_CRM__c</field>
            <value>
                <elementReference>current_crm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Decision_Timeline__c</field>
            <value>
                <elementReference>decision_timeline</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Discovery_Status__c</field>
            <value>
                <elementReference>discovery_status</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Followup_Email__c</field>
            <value>
                <elementReference>followup_email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Stakeholders__c</field>
            <value>
                <elementReference>key_stakeholders</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recommended_Clouds__c</field>
            <value>
                <elementReference>recommended_clouds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Solution_Brief__c</field>
            <value>
                <elementReference>solution_brief</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_Pain_Point_1__c</field>
            <value>
                <elementReference>top_pain_point_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_Pain_Point_2__c</field>
            <value>
                <elementReference>top_pain_point_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Top_Pain_Point_3__c</field>
            <value>
                <elementReference>top_pain_point_3</elementReference>
            </value>
        </inputAssignments>
        <object>Discovery_Session__c</object>
    </recordUpdates>
    <assignments>
        <name>Set_Status_Success</name>
        <label>Set Status Success</label>
        <locationX>176</locationX>
        <locationY>254</locationY>
        <assignmentItems>
            <assignToReference>update_status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Session_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>budget_range</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>company_size</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>current_crm</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>decision_timeline</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>discovery_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>followup_email</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>key_stakeholders</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recommended_clouds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>solution_brief</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>top_pain_point_1</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>top_pain_point_2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>top_pain_point_3</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>update_status</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
